<h3>I N S T A M A P</h3>

<!-- Search Tags -->
<%= form_tag '/tags', {method: 'get', id: 'search-field'} do %>
  <%= text_field_tag :tag, params[:tag] %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>


<% @instagram.each do |instagram| %>

    <%= image_tag instagram.images.standard_resolution.url %>

    <% end %>

    <ol>
      <li><a href='/location_recent_media'>Location Recent Media</a> Calls location_recent_media - Get a list of recent media at a given location, in this case, the Instagram office</li>
      <li><a href='/location_search'>Location Search</a> Calls location_search - Search for a location by lat/lng</li>
      <li><a href='/tags'>Tags</a>Search for tags, view tag info and get media by tag</li>

    </ol>
